<div class="container margin-top">
  <h1>Administration</h1>
  <hr>
  <ol>
    <li><%= link_to "Gérer les contenus >", "/admin/contents" %> </li>
    <li><%= link_to "Gérer les rubriques >", "/tags" %> </li>
  </ol>
</div>
