.home-banner {
  background: image-url("home-banner.jpg");
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  filter: grayscale(1);
}

h1.headline {
  color: white;
  font-size: 7.0em;
  text-shadow: 3px 6px 6px #777;
}
