.home-banner {
  background: image-url("home-banner.jpg");
  background-size: cover;
  filter: grayscale(1);
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.home-banner-content {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  padding-top: 40vh;
}

h1.headline {
  color: white;
  font-size: 7.0em;
  text-shadow: 3px 6px 6px #777;
  text-align: center;
  margin: auto;
}

.show-banner {
  margin-top: 10rem;
  background-size: cover;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 992px) {
  .show-banner {
    height: 40vh;
  }
}
@media only screen and (min-width: 768px) {
  .show-banner {
    height: 40vh;
  }
}

@media only screen and (max-width: 600px) {
    .show-banner {
    height: 20vh;
  }
}


.container .content-title {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 10rem;
  width: 60%;
  margin: inherit auto;
}
