.btn-round {
  border-radius: 50%;
  margin-left: 1.5rem;
  font-size: 1.2em;
}

.btn-locale {
  text-transform: uppercase;
}

.btn-outline-secondary {
  color: $gray;
  border-color: $gray;
}

.btn-outline-secondary:hover {
  background-color: $or-taa;
  border-color: $or-taa;
}

.btn-login {
  border-radius: 45px;
  margin-left: 1.5rem;
  font-size: 1.2em;
}

.btn-right {
  float: right;
}
