// MOBILE FIRST
.topic {
  height: 100vh;
  padding: 20vh 20vh 0;
  width: 100%;
  margin-bottom: 10vh;
}

.container {
  width: 100%;
  padding: 5px;
}

.margin-top {
  margin-top: 20vh;
}

.admin {
  width: 90%;
}

//BREAKPOINTS
@media (min-width: 768px){
  .container {
    width: 60%;
  }
}


