a {
  color: $or-taa;
  text-decoration: none;
}

p a:hover {
  color: $gray;
  border-bottom: 2px solid $gray;
  text-decoration: none;
}

a.lire-plus {
  text-decoration: underline;
  display: block;
  &:hover {
    border-bottom: 0px;
    text-decoration: double;
  }
}
