@media (max-width: 600px) {
.home {
    display: none;
  }
}

.img-parent {
  position: relative;
}

.img-hexagone {
  position: absolute;
  top : 0px;
  left: 0px;
  z-index: 1;
  width: 700px;
}

.img-hexagone img {
  width: 100%;
}

.img-custom {
  width: 680px;
  height: 700px;
  overflow: hidden;
}

.img-custom img {
  object-fit: cover;
}

.grayscale {
  filter: grayscale(1);
}
